ETCDCTL_API=3
ETCD_NAME="{{ inventory_hostname }}"
ETCD_LISTEN_CLIENT_URLS="https://0.0.0.0:2379"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ inventory_hostname }}:2379"
ETCD_LISTEN_PEER_URLS="https://0.0.0.0:2380"
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ inventory_hostname }}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_initial_cluster_token }}"
ETCD_INITIAL_CLUSTER="{{ etcd_cluster }}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_DATA_DIR="/var/lib/etcd"
ETCD_PEER_TRUSTED_CA_FILE=/etc/etcd/tls/peer-ca-cert.pem
ETCD_PEER_CERT_FILE=/etc/etcd/tls/peer-cert.pem
ETCD_PEER_KEY_FILE=/etc/etcd/tls/peer-key.pem
ETCD_CERT_FILE=/etc/etcd/tls/server-cert.pem
ETCD_KEY_FILE=/etc/etcd/tls/server-key.pem
ETCD_TRUSTED_CA_FILE=/etc/etcd/tls/client-ca-cert.pem
